In [18]:
import pandas as pd
import re

In [20]:
data_unformed = list(open('data.txt').read().split('\n'))

In [11]:
hands = [hand.split()[0] for hand in test]
bids = [hand.split()[1] for hand in test]

In [16]:
data = pd.DataFrame({'hands':hands,'bids':bids,'hand_rank':0})

In [17]:
data.head()

   hands bids  hand_rank
0  T33AA  613          0
1  J5JJ5  411          0
2  J4444  240          0
3  T5K98  463          0
4  7Q6K2    4          0

In [38]:
def check_freq(x):
    freq = {}
    freq = [(x.count(c),c) for c in set(x)]
    return freq

In [56]:
def get_hand_type(hand):
    card_count = check_freq(hand)

    #get max count
    cnt = max(card_count)[0]
    
    #check for full house
    if cnt == 3:
        num_twos = len([num[0] for num in card_count if num[0]==2])
        if num_twos ==1:
            return 4
        else:
            return 3
    #check for two pairs
    elif cnt == 2:
        num_twos = len([num[0] for num in card_count if num[0]==2])
        if num_twos ==2:
            return 2
        else:
            return 1
    elif cnt==1:
        return 0
    else:
        return cnt+1

In [57]:
data['hand_rank'] = data.apply(lambda x : get_hand_type(x.hands),axis=1)

In [62]:
fours = data[data.hand_rank == 4]

In [73]:
card_dict = {
    'A':14,
    'K':13,
    'Q':12,
    'J':11,
    'T':10
}
def create_cards(card):
    try:
        return card_dict[card]
    except:
        return int(card)

In [76]:
data['card1'] = data.hands.apply(lambda x: create_cards(x[0]))
data['card2'] = data.hands.apply(lambda x: create_cards(x[1]))
data['card3'] = data.hands.apply(lambda x: create_cards(x[2]))
data['card4'] = data.hands.apply(lambda x: create_cards(x[3]))
data['card5'] = data.hands.apply(lambda x: create_cards(x[4]))

In [78]:
data = data.sort_values(by=['hand_rank','card1','card2','card3','card4','card5'],ascending=False).reset_index(drop=True)

In [98]:
total=0
for idx,row in data.iterrows():
    total+=(1000-idx)*int(row.bids)
print(total)

251927063

PArt 2: Jacks as Jokers

In [122]:
card_dict = {
    'A':14,
    'K':13,
    'Q':12,
    'J':1,
    'T':10
}

In [114]:
def get_hand_type_with_jokers(hand):
    card_count = sorted(check_freq(hand),reverse=True)

    #get joker count
    jokers = len([card[1] for card in card_count if card[1] =='J'])
    
    #get max count of any type of card 
    cnt = max(card_count)[0]
    max_card = max(card_count)[1]

    if max_card != 'J':
        cnt+=jokers
    else:
        print(card_count)
        if len(card_count)>1:
            cnt = card_count[1][0]
            cnt+=jokers
    #check for full house
    if cnt == 3:
        num_twos = len([num[0] for num in card_count if num[0]==2])
        if num_twos ==1:
            return 4
        else:
            return 3
    #check for two pairs
    elif cnt == 2:
        num_twos = len([num[0] for num in card_count if num[0]==2])
        if num_twos ==2:
            return 2
        else:
            return 1
    elif cnt==1:
        return 0
    else:
        return cnt+1

In [115]:
part2_df = data.copy()
part2_df['hand_rank'] = part2_df.apply(lambda x: get_hand_type_with_jokers(x.hands),axis=1)

[(5, 'J')]
[(4, 'J'), (1, '8')]
[(3, 'J'), (2, '8')]
[(3, 'J'), (2, '4')]
[(3, 'J'), (2, '6')]
[(3, 'J'), (2, '5')]
[(3, 'J'), (2, 'T')]
[(3, 'J'), (2, '3')]
[(3, 'J'), (1, 'A'), (1, '8')]
[(3, 'J'), (1, '9'), (1, '4')]
[(3, 'J'), (1, '9'), (1, '2')]
[(2, 'J'), (2, '7'), (1, 'Q')]
[(2, 'J'), (2, 'A'), (1, '2')]
[(2, 'J'), (2, '9'), (1, 'K')]
[(2, 'J'), (2, '6'), (1, '7')]
[(2, 'J'), (2, '9'), (1, '2')]
[(2, 'J'), (2, '8'), (1, '2')]
[(2, 'J'), (2, '5'), (1, '9')]
[(2, 'J'), (2, '9'), (1, '4')]
[(2, 'J'), (2, '3'), (1, '6')]
[(2, 'J'), (2, '2'), (1, '5')]
[(2, 'J'), (2, '2'), (1, '3')]
[(2, 'J'), (2, '9'), (1, '5')]
[(2, 'J'), (2, '9'), (1, 'Q')]
[(2, 'J'), (2, '7'), (1, '9')]
[(2, 'J'), (2, '8'), (1, '3')]
[(2, 'J'), (2, 'A'), (1, '6')]
[(2, 'J'), (2, '6'), (1, 'A')]
[(2, 'J'), (2, '6'), (1, '5')]
[(2, 'J'), (2, '4'), (1, '2')]
[(2, 'J'), (1, 'A'), (1, '8'), (1, '6')]
[(2, 'J'), (1, 'T'), (1, 'Q'), (1, 'A')]
[(2, 'J'), (1, 'Q'), (1, 'A'), (1, '4')]
[(2, 'J'), (1, 'Q'), (1, '8'), (1, '5')]
[(2, 'J'), (1, 'K'), (1, 'A'), (1, '7')]
[(2, 'J'), (1, 'K'), (1, '8'), (1, '7')]
[(2, 'J'), (1, 'T'), (1, '6'), (1, '5')]
[(2, 'J'), (1, 'A'), (1, '9'), (1, '8')]
[(2, 'J'), (1, 'Q'), (1, '8'), (1, '3')]
[(2, 'J'), (1, 'T'), (1, '6'), (1, '4')]
[(2, 'J'), (1, 'T'), (1, '7'), (1, '2')]
[(2, 'J'), (1, '8'), (1, '7'), (1, '4')]
[(2, 'J'), (1, 'K'), (1, '8'), (1, '3')]
[(2, 'J'), (1, '9'), (1, '8'), (1, '7')]
[(2, 'J'), (1, 'T'), (1, '8'), (1, '5')]
[(2, 'J'), (1, '7'), (1, '4'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '7'), (1, '5'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '9'), (1, '6'), (1, '5')]
[(1, 'J'), (1, '9'), (1, '7'), (1, '5'), (1, '2')]
[(1, 'J'), (1, '9'), (1, '8'), (1, '6'), (1, '4')]
[(1, 'J'), (1, 'A'), (1, '8'), (1, '7'), (1, '5')]
[(1, 'J'), (1, 'A'), (1, '8'), (1, '3'), (1, '2')]
[(1, 'J'), (1, '8'), (1, '7'), (1, '3'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '7'), (1, '6'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '6'), (1, '4'), (1, '2')]
[(1, 'J'), (1, '6'), (1, '4'), (1, '3'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '8'), (1, '5'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '6'), (1, '5'), (1, '4')]
[(1, 'J'), (1, '9'), (1, '5'), (1, '3'), (1, '2')]
[(1, 'J'), (1, '9'), (1, '8'), (1, '6'), (1, '5')]
[(1, 'J'), (1, '9'), (1, '7'), (1, '6'), (1, '5')]
[(1, 'J'), (1, '6'), (1, '5'), (1, '3'), (1, '2')]
[(1, 'J'), (1, '8'), (1, '6'), (1, '5'), (1, '3')]
[(1, 'J'), (1, '9'), (1, '6'), (1, '4'), (1, '2')]
[(1, 'J'), (1, '9'), (1, '7'), (1, '6'), (1, '4')]
[(1, 'J'), (1, '9'), (1, '7'), (1, '5'), (1, '4')]
[(1, 'J'), (1, '9'), (1, '8'), (1, '3'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '9'), (1, '7'), (1, '3')]
[(1, 'J'), (1, 'A'), (1, '9'), (1, '5'), (1, '2')]
[(1, 'J'), (1, 'A'), (1, '8'), (1, '4'), (1, '2')]

In [123]:
part2_df['card1'] = part2_df.hands.apply(lambda x: create_cards(x[0]))
part2_df['card2'] = part2_df.hands.apply(lambda x: create_cards(x[1]))
part2_df['card3'] = part2_df.hands.apply(lambda x: create_cards(x[2]))
part2_df['card4'] = part2_df.hands.apply(lambda x: create_cards(x[3]))
part2_df['card5'] = part2_df.hands.apply(lambda x: create_cards(x[4]))

In [125]:
part2_df = part2_df.sort_values(by=['hand_rank','card1','card2','card3','card4','card5'],ascending=False).reset_index(drop=True)

In [128]:
part2_df.tail()

     hands bids  hand_rank  card1  card2  card3  card4  card5
995  28TAQ  530          0      2      8     10     14     12
996  268Q4  214          0      2      6      8     12      4
997  248Q5  989          0      2      4      8     12      5
998  24368  854          0      2      4      3      6      8
999  23T4Q  181          0      2      3     10      4     12

In [127]:
total=0
for idx,row in part2_df.iterrows():
    total+=(1000-idx)*int(row.bids)
print(total)

253541917